안녕하세요. 품질향상팀 고은세입니다.
<br>
확인부탁드립니다. 감사합니다.
<br>
<div style="padding: 12px; margin: 0px; color: #777; font-family: Apple Gothic, 나눔고딕, 맑은고딕, Dotum,돋움; background: #f3f3f3; width: 400px; position:relative;">
    <p style="padding: 0px; margin: 0px;"><strong style="color: #222; font-size: 13px;">고은세</strong> <span
            style="color: #777; font-size: 11px;">Go Eun Se</span></p>
    <h3 style="font-weight: normal; padding: 0 0 10px 0; margin: 0px;"></h3>
    <p style="font-size: 11px; margin: 0px; padding: 0 0 10px 0;"><strong style="color: #f39700;">(주)사이냅소프트</strong>
        &nbsp;품질향상팀/사원</p>
    <ul style="list-style: none; list-style-image: none; padding: 0px; margin: 0px; line-height: 150%; font-size: 11px;">
        <li style="list-style: none; list-style-image: none; padding: 0px; margin: 0px; font-size:11px;"><span
                style="color: #f39700; font-size:11px;">&nbsp;&nbsp;&nbsp;&nbsp;Tel&nbsp;</span><span
                style="font-size:11px;">02-2039-3780 (내선: 640)&nbsp;&nbsp;</span><span
                style="color: #f39700; font-size:11px;">Fax&nbsp;</span><span
                style="font-size:11px;">02-6918-0950</span></li>
        <li style="list-style: none; list-style-image: none; padding: 0px; margin: 0px; font-size:11px;"><span
                style="color: #f39700; font-size:11px;">&nbsp;&nbsp;&nbsp;&nbsp;Mobile&nbsp;</span><span
                style="font-size:11px;">010-9496-0601&nbsp;&nbsp;</span><span style="color: #f39700; font-size:11px;">E-mail&nbsp;</span><a
                target="_blank" style="color: #777; text-decoration: none;" href="mailto:gogo.es@synapsoft.co.kr"><span
                style="font-size:11px;">gogo.es@synapsoft.co.kr</span></a></li>
    </ul>
    <span style="font-size:11px;">인공지능 전자문서 전문기업 사이냅소프트</span>
    <div><p style="font-size:11px; padding: 0px 0 0 0; margin: 16px 0;"><img
            src="https://synapsoft.co.kr/images/%EB%8F%99%EC%98%81%EC%83%81%EC%95%84%EC%9D%B4%EC%BD%98.png"
            style="vertical-align: middle">&nbsp;<a href="https://www.youtube.com/watch?v=7FyL20VEFaE&feature=youtu.be"
                                                    target="_blnak">회사 소개 영상 보러가기</a></p></div>
</div>

<div style="padding: 12px; margin: 0px; color: #777; font-family: Apple Gothic, 나눔고딕, 맑은고딕, Dotum,돋움; background: #f3f3f3; width: 400px; position:relative;">
    <p style="padding: 0px; margin: 0px;"><strong style="color: #222; font-size: 13px;">홍길동</strong> <span
            style="color: #777; font-size: 11px;">Gildong Hong</span></p>
    <h3 style="font-weight: normal; padding: 0 0 10px 0; margin: 0px;">&nbsp;</h3>
    <p style="font-size: 11px; margin: 0px; padding: 0px;"><strong style="color: #f39700;">(주)사이냅소프트</strong> XXXX팀/대리
    </p>
    <ul style="list-style: none; list-style-image: none; padding: 0px; margin: 0px; line-height: 150%; font-size: 11px;">
        <li style="list-style: none; list-style-image: none; padding: 0px; margin: 0px; font-size:11px;"><span
                style="color: #f39700; font-size:11px;">&nbsp;&nbsp;&nbsp;&nbsp;Tel&nbsp;</span><span
                style="font-size:11px;">02-2039-3780 (내선: XXX)&nbsp;&nbsp;</span><span
                style="color: #f39700; font-size:11px;">Fax&nbsp;</span><span
                style="font-size:11px;">02-6918-0950</span></li>
        <li style="list-style: none; list-style-image: none; padding: 0px; margin: 0px; font-size:11px;"><span
                style="color: #f39700; font-size:11px;">&nbsp;&nbsp;&nbsp;&nbsp;Mobile&nbsp;</span><span
                style="font-size:11px;">010-XXXX-XXXX&nbsp;&nbsp;</span><span style="color: #f39700; font-size:11px;">E-mail&nbsp;</span><a
                target="_blank" style="color: #777; text-decoration: none;" href="mailto:xxxxxxx@synapsoft.co.kr"><span
                style="font-size:11px;"> xxxxxxx @synapsoft.co.kr</span></a></li>
    </ul>
    <span style="font-size:11px;">대한민국 대표 도큐먼트 AI 기업 사이냅소프트</span>
    <div><p style="font-size:11px; padding: 0px 0 0 0; margin: 16px 0;"><img
            src="https://synapsoft.co.kr/images/%EB%8F%99%EC%98%81%EC%83%81%EC%95%84%EC%9D%B4%EC%BD%98.png"
            style="vertical-align: middle">&nbsp;<a href="https://www.youtube.com/watch?v=-VI9Jp5807s=youtu.be"
                                                    target="_blnak">회사 소개 영상 보러가기</a></p></div>
</div>